* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
}

.main-container {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    padding-top: 42px;
    padding-left: 50px;
    width: 1332px;
    height: 1419px;
}

.artwork-headline {
    font-weight: 700;
    font-size: 40px;
    line-height: 1.12;
    letter-spacing: 0;
        font-family: 'Silkscreen', sans-serif;
}
.best-artworks{
    display: flex;
    flex-direction: row;
        margin-top: 41px;
}

.top-artwork{
    position: relative;
    width: 473.97px;
    height: 478px;
}

.top-artwork-image {
    width: 100%;
    height: 100%;
    display: block;
}

.first-texts{
    position: absolute;
left: 18.97px;
bottom: 17px;
width: 435.29px;
height: 78px;
border-radius: 15px;
background: #FFFFFFCC;
padding-top: 13px;
padding-left: 20.97px;
backdrop-filter: blur(50px)


}

.the-black{
    font-family: "Funnel Sans", sans-serif;
font-weight: 600;
font-size: 24px;
line-height: 1;
letter-spacing: 0;
}

.original-series{
    font-family: "Open Sans", sans-serif;
font-weight: 100;
font-size: 15.24px;
line-height: 1;
letter-spacing: 0;
margin-top: 4px;
}

.top-artworks-figure{
    width: 227.2px;
    height: 227.57px;
    position: relative;
}

.other-top-artworks{
width: 100%;
height: 100%;
display: block;
}

.butterfly{
    position: absolute;
    background: #FFFFFFCC;
    border: 0.5px solid #C7C7C7;
    backdrop-filter: blur(50px);
width: 202.2px;
height: 38.653px;
border-radius: 15px;
border-width: 0.5px;
bottom: 11.91px;
left: 12.98px;
padding-left: 13.31px;
padding-top: 10px;

}

.other-top-artworks-images{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap:22.43px;
    gap:22.4px;
    margin-left: 29.22px;
}




/*Responsive Tasarım*/
@media (min-width:768px) and (max-width:991px){

    .other-top-artworks-images{
        grid-template-columns: repeat(2,1fr);
    }
}

@media (min-width:0) and (max-width:767px){

    .other-top-artworks-images{
        grid-template-columns: repeat(1fr);
    }
}


