* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
}

.main-container {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    padding-top: 42px;
    padding-left: 50px;
    width: 1332px;
    height: 1419px;
}

.artwork-headline {
    font-weight: 700;
    font-size: 40px;
    line-height: 1.12;
    letter-spacing: 0;
    font-family: 'Silkscreen', sans-serif;
}

.best-artworks {
    display: flex;
    flex-direction: row;
    margin-top: 41px;
}

.top-artwork {
    position: relative;
    width: 473.97px;
    height: 478px;
}

.top-artwork-image {
    width: 100%;
    height: 100%;
    display: block;
}

.first-texts {
    position: absolute;
    left: 18.97px;
    bottom: 17px;
    width: 435.29px;
    height: 78px;
    border-radius: 15px;
    background: #FFFFFFCC;
    padding-top: 13px;
    padding-left: 20.97px;
    backdrop-filter: blur(50px)
}

.the-black {
    font-family: "Funnel Sans", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 1;
    letter-spacing: 0;
}

.original-series {
    font-family: "Open Sans", sans-serif;
    font-weight: 100;
    font-size: 15.24px;
    line-height: 1;
    letter-spacing: 0;
    margin-top: 4px;
}

.top-artworks-figure {
    width: 227.2px;
    height: 227.57px;
    position: relative;
}

.other-top-artworks {
    width: 100%;
    height: 100%;
    display: block;
}

.butterfly {
    position: absolute;
    background: #FFFFFFCC;
    border: 0.5px solid #C7C7C7;
    backdrop-filter: blur(50px);
    width: 202.2px;
    height: 38.653px;
    border-radius: 15px;
    border-width: 0.5px;
    bottom: 11.91px;
    left: 12.98px;
    padding-left: 13.31px;
    padding-top: 10px;

}

.other-top-artworks-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 22.43px;
    gap: 22.4px;
    margin-left: 29.22px;
}

.top-sellers-text-dropdown {
    display: flex;
    flex-direction: row;
    gap: 19px;
}

.top-sellers {
    font-family: 'Silkscreen', sans-serif;
    font-weight: 700;
    font-size: 32px;
    margin-top: 123px;
}

select {
    margin-top: 120px;
    appearance: none;
    color: #FFFFFF;
    background: url("images/arrow-down-s-fill.png") no-repeat;
    background-position: right 21px center;
    border: 1px solid #6300FF;
    width: 124px;
    height: 47.99px;
    border-radius: 47px;
    border-width: 1px;

    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #000000;
    padding-left: 20px;

}

.top-sellers-cards{
    margin-top: 44.23px;
}

.seller-card {
    position: relative;
    width: 225px;
    height: 260px;
    border-radius: 20px;
    border-width: 0.5px;
    border: 0.5px solid #C7C7C7;
    box-shadow: 0px 25px 40px 0px #00000003;
}

.seller-background-div {
    height: 127px;
    width: 225px;
}

.seller-background {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.seller-avatar-div {
    width: 95px;
    height: 95px;
    position: absolute;
    top: 67px;
    left: 65px;
}

.seller-avatar {

    width: 100%;
    height: 100%;
    border-width: 5px;
    border: 5px solid #FFFFFF;
    border-radius: 100px;
}

.seller-texts {
    font-family: "Open Sans", sans-serif;
}

.courtney-henry {
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    vertical-align: middle;
    margin-top: 59px;
}

.price {
    font-weight: 400;
    font-size: 14px;
    vertical-align: middle;
    text-align: center;
    margin-top: 10px;
    color: #979797;
}

.check-mark-div{
    position: absolute;
    bottom: 100.26px;
    left: 132px;
}

.top-sellers-cards{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    row-gap: 26px;
    gap: 26x;
}




/*Responsive Tasarım*/
@media (min-width:768px) and (max-width:991px) {

    .other-top-artworks-images {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width:0) and (max-width:767px) {

    .other-top-artworks-images {
        grid-template-columns: repeat(1fr);
    }
}